{{ define "main" }}
<div class="flex flex-col items-center min-h-screen">
	{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    <div class="w-2/3 max-w-4xl space-y-8 mt-8">
        {{ if .Params.toc }}
        <div class="blog-card p-6">
            <p class="text-glow-secondary font-semibold mb-4">
                Table of Contents:
            </p>
            {{ .TableOfContents }}
        </div>
        {{ end }}
        {{ if isset .Params "lead" }}
        <section class="text-center mb-8">
            <span class="italic text-glow-quartary text-lg">{{ .Params.lead }}</span>
        </section>
        {{ end }}
        <article class="blog-card space-y-4 text-justify mb-8 p-8">
            {{ .Content }}
        </article>
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
        {{ partial "post-pagination.html" . }}
    </div>
</div>
<footer>
    {{ partial "footer.html" . }}
</footer>
{{ end }}
