{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<nav aria-label="breadcrumb"
    class="glass-nav w-3/5 mx-auto mt-6 pt-4 flex flex-row h-12 divide-slate-200 text-lg font-semibold text-center justify-evenly mb-8">

    <ol class="space-x-4 flex flex-row">
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ol>
</nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
{{- $page := .page }}
{{- range .menuEntries }}
{{- $attrs := dict "href" .URL }}
{{- if $page.IsMenuCurrent .Menu . }}
{{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
{{- else if $page.HasMenuCurrent .Menu .}}
{{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
{{- end }}
{{- $name := .Name }}
{{- with .Identifier }}
{{- with T . }}
{{- $name = . }}
{{- end }}
{{- end }}
<li class="duration-150 transform align-middle">
    <a {{- range $k, $v :=$attrs }} {{- with $v }} {{- printf " %s=%q" $k $v | safeHTMLAttr }} {{- end }} {{- end -}}
        {{- if or ($page.IsMenuCurrent .Menu .) (eq $page.RelPermalink .URL) (eq $page.Section .Identifier) }}
        class="text-glow-quartary transition transform duration-200 ease-in-out" style="border-bottom: 2px solid #fc853f;" {{- else }}
        class="hover:text-glow-secondary transition transform duration-200 ease-in-out" style="border-bottom: 2px solid #8da0b8;" onmouseover="this.style.borderBottomColor='#fa34a1'" onmouseout="this.style.borderBottomColor='#8da0b8'"
        {{- end }} {{ if strings.HasPrefix .URL "http" }} target="_blank" rel="noopener noreferrer" {{ end }}>{{- if eq .Identifier "rss" }}📡 {{ end }}{{ $name
        }}</a>
    <!-- {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }} -->
</li>
{{- end }}
{{- end }}
